spring:
  datasource:
    url: jdbc:postgresql://db.bvjphekkgeoclhyguikl.supabase.co:5432/postgres?sslmode=require&ssl=true&sslfactory=org.postgresql.ssl.DefaultSSLFactory
    username: postgres
    password: m3Slh7oAt1BiFQIf
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
      javax:
        persistence:
          validation:
            mode: none

  cloud:
    compatibility-verifier:
      enabled: false

server:
  port: 8081

# Logging configuration
logging:
  level:
    com.fixed_asset.patient_service: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.jdbc.core.JdbcTemplate: DEBUG

# Eureka Discovery Client (if using service discovery)
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    enabled: false
  instance:
    prefer-ip-address: true